<div id="project_select_ng">
  <%= select_tag 'project-jump-id',
                 options_for_select(Project.visible.sort_by { |p| p.name.downcase }.collect { |p| [p.name, url_for(:controller => 'projects', :action => 'show', :id => p.id)] }.insert(0, "")),
                   :class => "chzn-select", "data-placeholder" => "Jump to project..." %>
</div>